---

- name: Install sudo
  apt: name=sudo state=present

- name: Install ssh
  apt: name=ssh state=present

# - fail: msg="Root password must be defined."
#   when: dawn_root_password is undefined 
#         or dawn_root_password|trim == ""
#         or dawn_root_password == none

# - fail: msg="Deployment password must be defined."
#   when: dawn_deployment_password is undefined 
#         or dawn_deployment_password|trim == ""
#         or dawn_deployment_password == none

# Root user
# {{ dawn_root_password |password_hash('sha512') }}
- name: Change root password
  user: name=root password={{ dawn_root_password }}
  when: not (dawn_root_password is undefined 
        or dawn_root_password|trim == ""
        or dawn_root_password == none)

- authorized_key: user=root key="{{ lookup('file', dawn_root_ssh) }}"

- name: Disallow root SSH access
  lineinfile: dest=/etc/ssh/sshd_config regexp="^PermitRootLogin" line="PermitRootLogin no" state=present
  notify: restart-ssh

# Sudo group & password authentication
- name: Remove sudo group rights
  lineinfile: dest=/etc/sudoers regexp="^%sudo" state=absent

- name: Disallow password authentication
  lineinfile: dest=/etc/ssh/sshd_config regexp="^PasswordAuthentication" line="PasswordAuthentication no" state=present
  notify: restart-ssh

- name: Change ssh udp port in services
  lineinfile: dest=/etc/services regexp="^[\s]*ssh[\s0-9]*\/udp" line="ssh {{ dawn_ssh_port }}/udp" state=present

- name: Change ssh tcp port in services
  lineinfile: dest=/etc/services regexp="^[\s]*ssh[\s0-9]*\/tcp" line="ssh {{ dawn_ssh_port }}/tcp" state=present

- name: Change ssh port in sshd configuration
  lineinfile: dest=/etc/ssh/sshd_config regexp="^[#\s]*Port[\s]*" line="Port {{ dawn_ssh_port }}" state=present
  notify: restart-ssh

# Deployment user
- name: Create deployment user
  user: name={{ dawn_deployment_name }} password={{ dawn_deployment_password }}
  when: not (dawn_deployment_password is undefined 
        or dawn_deployment_password|trim == ""
        or dawn_deployment_password == none)

- authorized_key: user={{ dawn_deployment_name }} key="{{ lookup('file', dawn_deployment_ssh) }}"

- name: Add deployment user to sudoers
  lineinfile: dest=/etc/sudoers regexp="{{ dawn_deployment_name }} ALL" line="{{ dawn_deployment_name }} ALL=(ALL) NOPASSWD:ALL" state=present

# Apt
- name: Run the equivalent of "apt-get update" as a separate step
  apt: update_cache=yes

- name: Install unattended-upgrades
  apt: name=unattended-upgrades state=present

- name: Adjust unattended-upgrades intervals
  template: src=02periodic.j2 dest=/etc/apt/apt.conf.d/02periodic owner=root group=root mode=644
